<div class="input-group flex-nowrap" style="margin: 20 20px;">
    <span class="input-group-text" id="addon-wrapping">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" id="person_name">
    <button class="btn btn-primary" type="submit">to come in</button>
  </div>
  